.logo h1{
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    display: flex;
    gap: 20px;
}

.navlist a {
    color: black;
}