.main {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
}

.mainDesc{
    display: flex;
    align-items: center;
    max-width: 50%;
}

.mainImg{
    width: 50%;
    height: 400px;
    position: relative;
}