.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.form input, .form textarea {
    border-radius: 10px;
    padding: 10px;
    resize: none;
    outline: none;
}

.form span {
    color: red;
}